@use "./general/header" as *;
@use "./general/variables" as *;
@import "~bootstrap/scss/bootstrap";

.main-wrapper{
    height: 100vh;
}

ul{
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
    font-size: 12px;
}

.active{
    color: $color_blue;
    border-bottom: 5px solid $color_blue;
    padding-bottom: 30.5px;
}
